$keyboard-vw: 80vw
$keyboard-vh: ($keyboard-vw * 0.25) // 20vw
$key-borders: ($keyboard-vw * 0.0015) // 0.12vw

$white-keys-total: 13
$white-keys-vw: ($keyboard-vw / $white-keys-total) // 10vw
$white-keys-vh: $keyboard-vh
$black-keys-vw: ($white-keys-vw  * 0.55) // 3.38462vw
$black-keys-vh: ($white-keys-vh * 0.55) // 11vw
$black-keys-offset: (-($black-keys-vw / 2) - $key-borders) // -2.42769vw

$white-keys-color: #fbfbfb
$black-keys-color: #222222
$white-keys-border-color: #aaaaaa
$black-keys-border-color: #000000

=keys($width, $height, $key-color, $background-color)
  width: $width
  height: $height
  border: $key-borders solid $key-color
  background-color: $background-color

// reset
body
  margin: 0

// css
body
  height: 100vh
  display: flex
  margin: auto
  justify-content: center
  align-items: center

.keyboard-container
  align-self: center

.key
  float: left
  position: relative
  border-radius: 0px 0px 5px 5px

.white
  +keys($white-keys-vw, $white-keys-vh, $white-keys-border-color, $white-keys-color)
  border-right: none

.black
  +keys($black-keys-vw, $black-keys-vh, $black-keys-border-color, $black-keys-color)
  z-index: 2

.white, .black
  box-shadow: 0px 5px 1px rgba(32 ,32 , 32, 0.2)

  &:hover
    margin-top: 5px
    box-shadow: none

.black, [data-note="a"], [data-note="b"], [data-note="d"], [data-note="e"], [data-note="g"]
  margin: 0 0 0 $black-keys-offset
